{% extends 'base.html.twig' %}

{% block title %}
{{app.user.nom ~' '~ app.user.prenom }}
{% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<div class="overflow">
	<div class="profile">
		<!-- Sidebar -->
		<div class="w3-sidebar w3-light-grey w3-bar-block flex-1" style="width:18%">
			<h3 class="w3-bar-item text-center py-2">Mon profile</h3>
			<a href="{{path('profile_info')}}" class="w3-bar-item w3-button">Mes informations</a>
			<a href="{{path('profile_gerermonadresse')}}" class="w3-bar-item w3-button">Gerer mon adresse</a>
			<a href="{{path('profile_annonces')}}" class="w3-bar-item w3-button">Mes annonces</a>
			<a href="{{path('profile_mesFavoris')}}" class="w3-bar-item w3-button">Mes favoris</a>
			<a href="{{path('messenger_received')}}" class="w3-bar-item w3-button">Messagerie</a>
		</div>
		<div class="d-flex left ">
			{% if app.user.avatar is empty %}
			{% if app.user.genre is not empty %}
			{% if app.user.genre.id == 1 %}
			<img class="m-3 avatar-profile" src="{{asset('images/femme-avatar.png') }}" alt="">
			{% elseif app.user.genre.id == 2 %}
			<img class="m-3 avatar-profile" src="{{asset('images/homme-avatar.png') }}" alt="">
			{% endif %}
			{% else %}
			<img class="m-3 avatar-profile" src="{{asset('images/avatar.png')}}" alt="">
			{% endif %}
			{% else %}
			<img class="m-3 avatar-profile" src="{{asset('avatars/'~ app.user.avatar)}}" alt="">
			{% endif %}
			<H3>{{app.user.getNomEtPrenom()}}</H3>
			<p class="p-2">{{app.user.email}}</p>
			<p>
			{% if app.user.ville is not empty %}
				{{app.user.ville}}, France
				{%endif%}
			</p>
			<p class="text-muted">
			{% if app.user.region is not empty %}
			<i class="fas fa-location-dot"></i>
				{{app.user.region.nom}}
				{%endif%}
			</p>
			{% if app.user.specialite is not empty%}
			<h3>Mes specialites culinaires</h3>
			<div class="d-flex">
				{%for spec in app.user.specialite%}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top " style="width:100%; height: 200px; overflow: hidden;"
						src="{{spec.imageUrl}}" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">{{spec.nom}}</p>
					</div>
				</div>
				{%endfor%}
			</div>
			{%endif%}
			<a href="{{path('profile_ajoutSpecialite', {user: app.user.id})}}" class="btn btn-warning">
				<i class="fa fa-plus" aria-hidden="true"></i>  Ajouter des pecialites
			</a>


		</div>
	</div>
</div>
{% endblock %}