{% extends 'base.html.twig' %}

{% block title %}
{{app.user.nom ~' '~ app.user.prenom }}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{asset('css/sidebar.css')}}">
{% endblock %}

{% block body %}
<div class="profile mesInfo">
<div class="w3-sidebar w3-light-grey w3-bar-block side" style="width:20%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="{{path('app_info')}}" class="w3-bar-item w3-button">Mes informations</a>
  <a href="#" class="w3-bar-item w3-button">Mes specialites culinaire</a>
  <a href="#" class="w3-bar-item w3-button">Gerer mon adresse</a>
  <a href="{{path('app_profile_annonces')}}" class="w3-bar-item w3-button">Mes annonces</a>
  <a href="#" class="w3-bar-item w3-button">Mes favoris</a>
  <a href="#" class="w3-bar-item w3-button">Messagerie</a>
</div>
<div class="d-flex left">
  <h2 class="coloredTitle m-4">Bienvenue
    {{app.user.prenom| capitalize }}
    !</h2>
  <div class="card w-50">
    <div class="card-header">
      Email </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{{app.user.email}}</th>
            <td colspan="2"> <a href="#" class="btn btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <div class="card w-50">
    <div class="card-header">
      Mes information </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Nom</th>
            <td>{{app.user.nom}}</td>

          </tr>
          <tr>
            <th scope="row">Prénom</th>

            <td>{{app.user.prenom}}</td>
          </tr>
          <tr>
            <th scope="row">Pseudo</th>

            <td>{{app.user.pseudo}}</td>
          </tr>
          <tr>
            <th scope="row">Genre</th>

            <td>{{app.user.genre.nom}}</td>
          </tr>
          <tr>
            <th scope="row">Numéro de téléphone</th>

            <td>{{app.user.numTel}}</td>
          </tr>
        </tbody>
      </table>
      <a href="{{path('app_editProfile', {user: app.user.id})}}" class="btn btn-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>    </div>
  </div>
  <div class="card w-50">
    <div class="card-header">
      Ma photo de profile </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{% if app.user.avatar is empty %}

              <img class="m-3 avatar-profile" src="{{asset('images/profile.png') }}" alt="">
        
            {% else %}
              <img class="m-3 avatar-profile" src="{{asset('avatars/'~ app.user.avatar)}}" alt="">
        
            {% endif %}</th>
            <td colspan="2"> <a href="#" class="btn btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card w-50">
    <div class="card-header">
      Mon mot de passe </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{{app.user.password}}</th>
            <td colspan="2"> <a href="#" class="btn btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card w-50">
    <div class="card-header">
     Supprimer mon compte</div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Mon compte</th>
            <td colspan="2"> <a href="#" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  {%endblock%}