{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}
{%block css%}
<link rel="stylesheet" href="{{asset('css/inbox.css')}}"> 
{%endblock css%}
{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container py-5">
<div class="row inbox">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body inbox-menu">
				<a href="#" class="btn btn-primary btn-block">New Email</a>
				<ul>
					<li>
				<a href="{{path('messenger_received')}}"><i class="fas fa-inbox"></i> Inbox <span class="label label-primary">{{ app.user.received|length }}</span></a>
					</li>
					<li>
						<a href="#"><i class="fas fa-rocket"></i> Sent</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-trash"></i> Trash</a>
					</li>

				
				</ul>
				
			</div>	
			
		</div>
		
		<div class="panel panel-default">
			
			
		
		</div>			
		
	</div><!--/.col-->
	
	<div class="col-md-9">
		
		<div class="panel panel-default">
			
			<div class="panel-body message">
				
				<span class="btn-group">
				  	<button class="btn btn-default"><span class="fas fa-mail-reply"></span></button>
				  	<button class="btn btn-default"><span class="fas fa-mail-reply-all"></span></button>
				  	<button class="btn btn-default"><span class="fas fa-mail-forward"></span></button>
				</span>
				<button class="btn btn-default"><span class="fas fa-trash-"></span></button>
				<div class="message-title">						{{ message.titre }}
				</div>
				<div class="header">

					{% if message.envoyeur.avatar is empty %}
                {% if message.envoyeur.genre is not empty %}
                {% if message.envoyeur.genre.nom == 'Femme' %}
                <img class=" avatar" src="{{asset('images/femme-avatar.png') }}" alt="avatar femme">
                {% elseif message.envoyeur.genre.nom == 'Homme' %}
                <img class="avatar" src="{{asset('images/homme-avatar.png') }}" alt="avatar homme">
                {% endif %}
                {% else %}
                <img class="avatar" src="{{asset('images/avatar.png')}}" alt="avatar">
                {% endif %}
                {% else %}
                <img class="avatar" src="{{asset('avatars/'~ app.user.avatar)}}" alt="avatar">
                {% endif %}


					<div class="from">
						<span>{{ message.envoyeur.nomEtPrenom() }}</span>
						{{ message.envoyeur.email }}
					</div>
					<div class="date"><span class="fa fa-paper-clip"></span> Le {{ message.date|ago ( locale = "fr") }}
					</div>

					<div class="menu"></div>

				</div>

				<div class="content">
					<p>
						{{ message.contenue }}
					</p>
				</div>
	
			</div>	
			
		</div>	
		
	</div><!--/.col-->	
			
</div>
</div>
	
{% endblock %}