{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}
{%block css%}
<link rel="stylesheet" href="{{asset('css/inbox.css')}}"> 
{%endblock css%}
{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container py-5">
	<div class="row inbox">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body inbox-menu">
					<a href="#" class="btn btn-primary btn-block">New Email</a>
					<ul>
						<li>
							<a href="{{path('messenger_received')}}"><i class="fas fa-inbox"></i> Inbox <span
									class="label label-primary">{{ app.user.received|length }}</span></a>
						</li>
						<li>
							<a href="#"><i class="fas fa-rocket"></i> Sent</a>
						</li>
						<li>
							<a href="#"><i class="fas fa-trash"></i> Trash</a>
						</li>


					</ul>

				</div>

			</div>

			<div class="panel panel-default">



			</div>

		</div>
		<!--/.col-->

		<div class="col-md-9">

			<div class="panel panel-default">

				<div class="panel-body message">

					<span class="btn-group">
						<button class="btn btn-default"><span class="fas fa-mail-reply"></span></button>
						<button class="btn btn-default"><span class="fas fa-mail-reply-all"></span></button>
						<button class="btn btn-default"><span class="fas fa-mail-forward"></span></button>
					</span>
					<div class="message-title">
						<div class="table-responsive">
							{% if app.user.received|length >0 %}
							<table class="table caption-top">
								<caption>Message Réçu</caption>
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">De</th>
										<th scope="col">Sujet</th>
										<th scope="col">Date</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								{% for message in app.user.received %}
								{% set bold = "" %}
								{% if message.isRead == 0 %}
								{% set bold = "fw-bold" %}
								{% endif %}
								<tbody>
									<tr>
										<th scope="row"></th>
										<td class=" {{bold}}"><a
												href="{{ path('messenger_read', {id: message.id}) }}">{{
												message.envoyeur.nomEtprenom() }}</a></td>
										<td class=" {{bold}}"><a
												href="{{ path('messenger_read', {id: message.id}) }}">{{ message.titre
												}}</a></td>
										<td class=" {{bold}}"><a
												href="{{ path('messenger_read', {id: message.id}) }}">{{
												message.date|ago ( locale = "fr")}}</a></td>
										<td class=" {{bold}}"><a href="{{ path('messenger_delete', {id: message.id})}}">
												<i class="fas fa-trash" aria-hidden="true"></i></a></td>
									</tr>
								</tbody>
								{% endfor %}
							</table>
						</div>

						{%else%}
						<div class="d-flex flex-column align-items-center justify-content-center"></div>
						<H3>Vous apez pas de message</H3>
						<img style="width:50%;" src="{{asset('images/messagerie.png')}}" alt="image enveloppe"
							srcset="">
						{%endif%}





					</div>

				</div>

			</div>
			<!--/.col-->

		</div>
	</div>



</div>
{% endblock %}