{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h1>Messagerie</h1>
				<h2>Boîte de réception</h2>
				<p>Vous avez reçu
					{{ app.user.received|length }}
					messages</p>
			</div>
			<table class="table caption-top">
				<caption>Message Réçu</caption>
				<thead>
				  <tr>
					<th scope="col"></th>
					<th scope="col">De</th>
					<th scope="col">Sujet</th>
					<th scope="col">Date</th>
					<th scope="col">Action</th>
				  </tr>
				</thead>
				{% for message in app.user.received %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
				{% set bold = "fw-bold" %}
				{% endif %}
				<tbody>
				  <tr>
					<th scope="row"></th>
					<td class=" {{bold}}"><a href="{{ path('messenger_read', {id: message.id}) }}">{{ message.envoyeur.nomEtprenom() }}</a></td>
					<td class=" {{bold}}"><a href="{{ path('messenger_read', {id: message.id}) }}">{{ message.titre }}</a></td>
					<td class=" {{bold}}"><a href="{{ path('messenger_read', {id: message.id}) }}">{{ message.date|ago ( locale = "fr")}}</a></td>
					<td class=" {{bold}}"><a href="{{ path('messenger_delete', {id: message.id})}}"> <i class="fas fa-trash" aria-hidden="true"></i></a></td>
				  </tr>
				</tbody>
				{% endfor %}
			  </table>


	</div>
{% endblock %}