{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
css %}

<link
  rel="stylesheet"
  href="{{ asset('css/formulaire.css') }}"
  type="text/css"
/>
{# <link
  href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css"
  rel="stylesheet"
  type="text/css"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/> #}
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">

{% endblock %} {% block body %} {% for flash_error in
app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1>Edit profilee</h1>


          {{ form_start(form) }}
          <p>{{ form_errors(form.nom) }}</p>
          <p>{{ form_widget(form.nom) }}</p>

          <p>{{ form_errors(form.prenom) }}</p>
          <p>{{ form_widget(form.prenom) }}</p>

              <p>{{ form_errors(form.genre) }}</p>
          {{ form_label(form.genre) }}
          <p>{{ form_widget(form.genre) }}</p>
               <p>{{ form_errors(form.pseudo) }}</p>
          {{ form_label(form.pseudo) }}

          <p>{{ form_widget(form.pseudo) }}</p>

  
          <p>{{ form_errors(form.numeroRue) }}</p>
          <p>{{ form_widget(form.numeroRue) }}</p>

          <p>{{ form_errors(form.complementAdresse) }}</p>
          <p>{{ form_widget(form.complementAdresse) }}</p>

          <p>{{ form_errors(form.codePostal) }}</p>
          <p>{{ form_widget(form.codePostal,{ id: "cp" }) }}</p>

          <p>{{ form_errors(form.ville) }}</p>
          <p>{{ form_widget(form.ville, { id: "ville" }) }}</p>

          <p>{{ form_errors(form.nomRue) }}</p>
          <p>{{ form_widget(form.nomRue, { id: "adresse" }) }}</p>
  
      

     <p>    {{ form_errors(form.region) }}</p>
          {{ form_label(form.region) }}

       <p> {{ form_widget(form.region) }}<p/>

          <p>{{ form_errors(form.specialite) }}</p>
          {{ form_label(form.specialite) }}

          {# <div id="cont"> #}
          {{ form_widget(form.specialite, { id: "specialite" })  }}
          {# <a onclick="ajouter()"><i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter des spécialites</a>
          </div> #}

     {{form_rest(form)}}
     

      

        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



<script src="{{ asset('javascript/formulaire.js') }}"></script>
<script src="{{ asset('javascript/apiadresse.js') }}"></script>

{% endblock %}
