{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
css %}

<link
  rel="stylesheet"
  href="{{ asset('css/formulaire.css') }}"
  type="text/css"
/>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">

{% endblock %} {% block body %} {% for flash_error in
app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class='row p-5'>
  <div class="register col-lg-6 col-md-6 col-sm-12 ">
<h2 class="mb-5 text-center">Modifier votre profile</h1>


          {{ form(form) }}

</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



<script src="{{ asset('javascript/formulaire.js') }}"></script>
<script src="{{ asset('javascript/apiadresse.js') }}"></script>

{% endblock %}
