{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block css %}
   
    <link
      rel="stylesheet"
      href="{{ asset('css/formulaire.css') }}"
      type="text/css"
    />
      <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="container">
    
    <h1>Créer un compte</h1>

<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-8">
            <form id="regForm" method="post">
                <h1 id="register"></h1>
                  <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span> </div>
                
                <div class="tab">
                                <h3 id="register" class="mb-5 text-center"><i class="bi bi-info"></i>
  Informations personnelles</h3>


                    <p> <input type="text" placeholder="Nom..." oninput="this.className = ''" name="nom" autofocus></p>
                    <p> <input type="text" placeholder="Prénom..." oninput="this.className = ''" name="prenom"></p>
                    <p> <input type="email" placeholder="Email..." oninput="this.className = ''" name="email"></p>
                    <div class='d-flex align-items-center'> <input type="password" id="pass" placeholder="Mot de passe..." oninput="this.className = ''" name="password"><i id='eye' class="bi ms-2 bi-eye-slash" onclick="change()"></i>
</div>

                </div>
                <div class="tab">
                                <h3 id="register" class="mb-5 text-center">Adresse</h3>
                    <p><input placeholder="Rue" oninput="this.className = ''" name="nomRue"></p>
                    <p><input placeholder="Numero" oninput="this.className = ''" name="numeroRue"></p>
                    <p><input placeholder="code postal" oninput="this.className = ''" name="codePostal"></p>
                    <p><input placeholder="complement adresse" oninput="this.className = ''" name="complementAdresse"></p>
                </div>
                <div class="tab">
                    <h6>Complement</h6>
                    <p><input type='file' placeholder="avatar" oninput="this.className = ''" name="avatar"></p>
                    <p><input placeholder="region" oninput="this.className = ''" name="region"></p>
                    <p><input placeholder="specialite" oninput="this.className = ''" name="specialite"></p>
                    <p><input placeholder="pseudo" oninput="this.className = ''" name="pseudo"></p>
                </div>
               
                <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thankyou for your feedback!</h3> <span>Thanks for your valuable information. It helps us to improve our services!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa-thin fa-forward-step"></i></button> <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button> </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{asset('javascript/formulaire.js')}}"></script>
	{{ form(registrationForm) }}
		Vous avez déjà un compte ?
		<a href="{{ path('app_login') }}">Connectez-vous !</a>
</div>

{% endblock %}
