{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block css %}
   
    <link
      rel="stylesheet"
      href="{{ asset('css/formulaire.css') }}"
      type="text/css"
    />
      <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="container">
    
    <h1>Créer un compte</h1>

<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-8">
            <form id="regForm" method="post">
                <h1 id="register"></h1>
                  <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span> </div>
                
                <div class="tab input">
                                <h3 id="register" class="mb-5 text-center"><i class="bi bi-info"></i>
  Informations personnelles</h3>


                    <p> {{form_row(registrationForm.nom)}}</p>
                    <p> {{form_row(registrationForm.prenom)}}</p>
                    <p> {{form_row(registrationForm.email)}}</p>
                    <div class='d-flex align-items-center'> {{form_row(registrationForm.plainPassword,{ 'id': 'pass'})}}<i id='eye' class="bi ms-2 bi-eye-slash" onclick="change()"></i>
</div>

                </div>
                <div class="tab">
                                <h3 id="register" class="mb-5 text-center">Adresse</h3>
                    <p>{{form_row(registrationForm.nomRue)}}</p>
                    <p>{{form_row(registrationForm.numeroRue)}}</p>
                    <p>{{form_row(registrationForm.codePostal)}}</p>
                    <p>{{form_row(registrationForm.complementAdresse)}}</p>
                </div>
                <div class="tab">
                    <h6>Complement</h6>
                    <p>{{form_row(registrationForm.avatar)}}</p>
                    <p>{{form_row(registrationForm.region)}}</p>
                    <p>{{form_row(registrationForm.specialite)}}</p>
                    <p>{{form_row(registrationForm.pseudo)}}</p>
                    <p>{{form_row(registrationForm.agreeTerms)}}</p>
                    	{{ form_rest(registrationForm) }}
	

         <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
                </div>
               

                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa-thin fa-forward-step"></i></button> <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa-thin fa-chevrons-left"></i></button> </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{asset('javascript/formulaire.js')}}"></script>

</div>

{% endblock %}
