{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container page "> 
        <div>
            <img src="{{ asset('images/forgot.png') }}" alt="">
        </div>
        <div class="register">
    <h2  class="mb-5 text-center">Réinitialisation de mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div  class="m-4">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>
<div class="d-flex justify-content-between">

    <button class="btn btn-primary">Envoyer un e-mail</button>
{{ form_end(requestForm) }}
<a href="{{path('app_login')}}"class="btn btn-primary">Se connecter</a>
</div>

        </div>
    </div>
    
{% endblock %}
