{% extends 'base.html.twig' %}
{% block title %}
{{ annonce.titre }}
{% endblock
%}
{% block css %}
<link rel="stylesheet" href="{{ asset('css/details.css') }}" type="text/css" />

{% endblock %}
{% block body %}
<div class="container h-100 details py-4">
    <div class="row w-100 mx-auto">
        {%if annonce.images%}
        <div class="mx-auto col-lg-8 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide w-100 " data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox" data-interval="10000000">
                    {% for image in annonce.images %}
                    <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                        <img src="{{ asset('images/' ~ image.img) }}" class="d-block w-75 m-auto my-2" alt="Image de l\'annonce" />
                    </div>
                    {%else%}
					<div class="carousel-item {{ loop.first ? 'active' : '' }}">
						<img src="https://toppng.com/uploads/preview/clipart-free-seaweed-clipart-draw-food-placeholder-11562968708qhzooxrjly.png"
							alt="Image de l\'annonce" class="card-img-top "
							style="width:100%; height: 200px; overflow: hidden;" alt="Image annonca">
					</div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {%endif%}
            <h1 class='coloredTitle '>{{annonce.titre}}</h1>
            <p class="py-3">{{annonce.contenue}}</p>

            <div class="d-flex justify-content-between">
                {% if annonce.prix is not empty %}
                <span id="price">{{annonce.prix}}
                    €</span>
                {% endif %}
                <small class="text-muted m-1">{{annonce.dateDePublication| ago ( locale = "fr") }}</small>
            </div>
        </div>
        <div class="middle d-flex mx-auto flex-column col-lg-4 col-sm-12">
            <div class='d-flex justify-content-center align-items-center'>
                {% if annonce.user.avatar is empty %}
                {% if annonce.user.genre is not empty %}
                {% if annonce.user.genre.nom == 'Femme' %}
                <img class="m-3 avatar-profile" src="{{asset('images/femme-avatar.png') }}" alt="avatar femme">
                {% elseif annonce.user.genre.nom == 'Homme' %}
                <img class="m-3 avatar-profile" src="{{asset('images/homme-avatar.png') }}" alt="avatar homme">
                {% endif %}
                {% else %}
                <img class="m-3 avatar-profile" src="{{asset('images/avatar.png')}}" alt="avatar">
                {% endif %}
                {% else %}
                <img class="m-3 avatar-profile" src="{{asset('avatars/'~ app.user.avatar)}}" alt="avatar">
                {% endif %}
                <h4 class=' title'>Par :
                    {{annonce.user.pseudo |capitalize }}</h4>
            </div>
            <div class="d-flex flex-wrap">
                {% if annonce.user.specialite is not empty %}
                {%for spec in annonce.user.specialite%}
                <span class="badge bg-secondary m-1">{{spec.nom}}</span>
                {%endfor%}
                {%endif%}
            </div>
            <div class="d-flex justify-content-end">
                {% if annonce.user.region is not empty %}
                <span type="button" class=" text-secondary"><i class="fas fa-location-dot"></i>
                    {{annonce.user.region.nom}}</span>
                {%endif%}
            </div>
            <div class="d-flex justify-content-center align-items-center m-3">
                {%if annonce.showNumber and annonce.user.numTel %}
                <i class="fas fa-xl fa-phone"></i>
                <a class="big mx-3" href="tel:{{annonce.user.numTel}}"> {{annonce.user.numTel}} </a>
                {%endif%}
            </div>
            <div class="d-flex flex-column">
                <a href="{{path('messenger_send', {id:annonce.user.id})}}" class="my-3 mx-auto btn btn-primary">Envoyer un
                    message</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 right ">

    </div>
</div>
{%if app.user%}
<H3 class="text-muted">Les commentaires</H3>

    {%for comments in annonce.commentaires%}
    {% if comments.parent == null %}
    {%if comments.user.avatar is not empty%}
    <div class="d-flex align-items-center col-lg-12 col-sm-12 mx-auto">
        <img class=' me-2 avatar' src="{{asset('avatars/'~ comments.user.avatar)}}" alt="Avater" srcset="">
        {%else%}
        <img class='me-2 avatar' src="{{asset('images/avatar.png')}}" alt="Avatar" srcset="">
        {%endif%}
        <p>
            Publier par: {{comments.user.pseudo}}
        </p>
        <div class="card w-100 p-3">

            <p>
                {{comments.contenue}}
            </p>
            <div class="d-flex justify-content-end">
                <small class="text-muted p-3">{{comments.dateDePublication|ago ( locale = "fr")}}</small>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="#ajout-commentaire" data-reply data-id="{{comments.id}}"><i class="fas fa-reply"></i>
            Répondre</a>
    </div>
    <div class="ms-5">
        {% for reply in comments.reponse %}
        {%if reply.user.avatar is not empty%}
        <div class="d-flex align-items-center">
            <img class='avatar me-2' src="{{asset('avatars/'~ comments.user.avatar)}}" alt="avatar" srcset="">
            {%else%}
            <img class='avatar me-2' src="{{asset('images/avatar.png')}}" alt="avatar" srcset="">
            {%endif%}

            <p>
                Reponse par: {{reply.user.pseudo}}
            </p>
            <div class="card w-100 p-3">

                <p>
                    {{reply.contenue}}
                </p>
                <div class="d-flex justify-content-end">

                    <small class="text-muted p-3">{{reply.dateDePublication|ago ( locale = "fr")}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {%endif%}

    {%endfor%}

<div id="ajout-commentaire">
    {{form(form)}}
</div>
</div>
</div>
{%endif%}
<script>
    window.onload = () => {
        // On met un écouteur d'évènements sur tous les boutons répondre
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function () {
                document.querySelector("#commentaire_parentid").value = this.dataset.id;
            });
        });
    }
</script>

{% endblock %}