{% extends 'base.html.twig' %} {% block title %}{{ annonce.titre }}{% endblock
%} {% block css %}
<link rel="stylesheet" href="{{ asset('css/details.css') }}" type="text/css" />

{% endblock %} {% block body %}
<div class="container details">
<div class="row mt-5">
<div class="col-6">
                  <div
                    id="carouselExampleControls"
                    class="carousel slide w-75 "
                    data-bs-ride="carousel"
                  >
          <div class="carousel-inner" role="listbox" data-interval="10000000">
                    {% for image in annonce.images  %}   
             <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                        <img src="{{ asset('images/' ~ image.img) }}" class="d-block w-75 m-auto my-2" alt="..." />
                      </div>
                    {% endfor %}
                    </div>

                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#carouselExampleControls"
                      data-bs-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> 
                  </div>
<div class="col-6 right">
<h1>{{annonce.titre}}</h1>
</div

                  </div>
                  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

                  {% endblock %}
             