{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<div class="container">
	<div class="m-5">
		{{form_start(form)}}
		{{form(form)}}

		{{form_end(form)}}

	</div>
	<hr>
	<div class="row">
		<h2 class="p-4 title text-center">Liste de derieres annoces</h2>
		{%for annonce in annonces%}
		<div class="col-lg-4 col-sm-12 py-5">
			<div class="card shadow-sm" style="width: 20rem;">
				{% if annonce.images is not empty %}
				{% for image in annonce.images %}
				{% if loop.first %}
				<img src="{{ asset('images/' ~ image.img) }}" class="card-img-top "
					style="width:100%; height: 200px; overflow: hidden;" alt="...">
				{% endif %}
				{% endfor %}
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{annonce.titre}}</h5>
					<p>{{annonce.resume()}}</p>
					<div class="d-flex justify-content-between align-items-center">
						<a href="{{path('annonce_detailsAnnonce', {annonce: annonce.id})}}" class="btn btn-primary">Voir
							plus ...</a>
						<div class="text-danger">
							{% if is_granted("ROLE_USER") %}
							{% set isFavorite = false %}
							{% for favoris in annonce.favoris %}
							{% if favoris.id == app.user.id %}
							{% set isFavorite = true %}
							{% endif %}
							{% endfor %}
							{% if isFavorite %}
							<a class='text-danger'
								href="{{ path('annonce_retrait_favoris', {id: annonce.id, user:app.user.id}) }}"><i
									class="fas fa-heart"></i></a>
							{% else %}
							<a class='text-danger'
								href="{{ path('annonce_ajout_favoris', {id: annonce.id, user:app.user.id}) }}"><i
									class="far fa-heart"></i></a>
							{% endif %}

							{% else %}
							<i class="far fa-heart"></i>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endfor%}


	</div>
	{% if  annonces|length  > 6 %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end text-primary">

                <li class="page-item text-primary{{ ( page == 1 ) ? 'disabled' : '' }}"></li>

                <a class="page-link" href="?page ={{ page - 1}}">Previous</a>
            </li>
            {% set pages = (total / limite) | round (0, 'ceil') %}
            {% for item in 1..(pages) %}

                <li class="page-item {{ page == item ? 'active' : '' }}">
                    <a class="page-link" href="?page={{item}}">{{item}}</a>
                </li>
            {% endfor %}

            <li class="page-item {{ ( page == pages ) ? 'disabled' : '' }}">
                <a class="page-link" href="?page={{ page + 1 }}">Next</a>
            </li>
        </ul>
    </nav>
{% endif %}
</div>
	{% endblock %}